@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700,900');

@font-face {
	font-family: Bebas;
	src        : url('../fonts/Bebas.otf');
}

* {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size  : 1em;
	margin     : 0px;
	padding    : 0px;
	box-sizing : border-box;
	outline    : none;
}

img {
	display       : block;
	pointer-events: none;
}

a {
	text-decoration: none;
	transition     : all 0.3s ease-out;
}

body {
	background-color: rgb(255, 255, 255);
	overflow-x      : hidden;
}

	body > button {
		width           : 32px;
		background-color: transparent;
		border          : none;
		position        : fixed;
		top             : 32px;
		left            : 32px;
		z-index         : 100;
		display         : none;
	}

		body > button > span {
			display         : flex;
			width           : 100%;
			height          : 1px;
			background-color: rgb(31, 181, 58);
			margin-bottom   : 3px;
			box-shadow      : 0 0 10px rgba(0, 0, 0, 0.45);
			transition      : all 0.3s;
		}

		body > button > span:last-of-type {
			margin-bottom: 0px;
		}

		.active-button {
			margin-bottom: 6px !important;
		}

		.active-nav {
			margin-top: 0px !important;
		}

	body > nav {
		width           : 100%;
		height          : 100px;
		background-color: rgba(0, 0, 0, 0.85);
		position        : fixed;
		z-index         : 10;
		display         : flex;
		align-items     : center;
		justify-content : center;
		transition      : all 0.3s;
	}

		body > nav > div {
			width          : 80%;
			display        : flex;
			flex-flow      : row wrap;
			justify-content: space-between;
			align-items    : center;
		}

			body > nav > div > img {
				height    : 150px;
				width     : auto;
				margin-top: 75px;
			}

			body > nav > div > ul {
				list-style: none;
			}

				body > nav > div > ul > li {
					display     : inline-block;
					margin-right: 18px;
				}

					body > nav > div > ul > li > a {
						color: rgb(255, 255, 255);
					}

					body > nav > div > ul > li > a:hover {
						color: rgb(31, 181, 58);
					}

				body > nav > div > ul > li:nth-of-type(4) {
					border-right : 1px dotted rgb(255, 255, 255);
					padding-right: 18px;
				}

				body > nav > div > ul > li:nth-of-type(5) {
					margin-right: 8px;
				}

	body > header {
		width                : 100%;
		height               : 100vh;
		background-image     : url('../images/header/fondo.jpg');
		background-repeat    : no-repeat;
		background-attachment: fixed;
		background-size      : cover;
		display              : flex;
		align-items          : center;
		justify-content      : center;
		position             : relative;
	}

		body > header > img {
			width   : 35%;
			position: relative;
			z-index : 5;
		}

		body > header > div {
			width   : 100%;
			height  : 100%;
			position: absolute;
			z-index : 4;
		}

	#nosotros {
		width      : 100%;
		padding    : 80px 0px;
		position   : relative;
		display    : flex;
		align-items: center;
	}

		#nosotros:before {
			display: none;
		}

		#nosotros > section {
			width : 80%;
			margin: auto;
		}

			#nosotros > section > h1 {
				font-size     : 2em;
				font-weight   : 700;
				text-transform: uppercase;
				margin-bottom : 32px;
				position      : relative;
				padding       : 8px 0px;
				display       : flex;
				align-items   : center;
			}

			#nosotros > section > h1:after {
				content         : '';
				width           : 150px;
				height          : 100%;
				background-color: rgb(239, 200, 48);
				position        : absolute;
				left            : -100px;
				top             : 0px;
				z-index         : -1;
			}

			#nosotros > section > h1:before {
				content         : '';
				width           : 50px;
				height          : 3px;
				background-color: rgb(0, 0, 0);
				position        : absolute;
				bottom          : 0px;
				left            : 50px;
			}

			#nosotros > section > section {
				width          : 100%;
				display        : flex;
				flex-flow      : row wrap;
				justify-content: space-between;
				align-items    : center;
			}

				#nosotros > section > section > section {
					width: 50%;
				}

					#nosotros > section > section > section > p:first-of-type {
						text-align   : justify;
						margin-bottom: 24px;
					}

					#nosotros > section > section > section > figure {
						width          : 100%;
						display        : flex;
						align-items    : center;
						justify-content: center;
					}

					#nosotros > section > section > section > figure:first-of-type {
						margin-bottom: 24px;
					}

						#nosotros > section > section > section > figure > div:first-of-type {
							width: 15%;
						}

							#nosotros > section > section > section > figure > div:first-of-type > i {
								width           : 80px;
								height          : 80px;
								border-radius   : 50%;
								background-color: rgb(239, 200, 48);
								color           : rgb(0, 0, 0);
								display         : flex;
								align-items     : center;
								justify-content : center;
								font-size       : 2em;
							}

						#nosotros > section > section > section > figure > div:last-of-type {
							width: 85%;
						}

							#nosotros > section > section > section > figure > div:last-of-type > figcaption {
								font-weight: 700;
							}

				#nosotros > section > section > section:last-of-type {
					padding-left   : 32px;
					display        : flex;
					align-items    : center;
					justify-content: center;
				}

					#nosotros > section > section > section:last-of-type > img {
						height: 250px;
					}

	#descanso-1 {
		width           : 100%;
		height          : 500px;
		background-color: rgb(255, 255, 255);
		position        : relative;
		display         : flex;
		align-items     : center;
	}

	#descanso-1:before {
		content            : '';
		width              : 85%;
		height             : 100%;
		position           : absolute;
		background-image   : url('../images/descanso-1/fondo.jpg');
		background-size    : cover;
		background-position: center;
		background-repeat  : no-repeat;
		background-attachment: fixed;
		left               : 0px;
		top                : 0px;
	}

		#descanso-1 > h1 {
			font-family     : Bebas;
			padding         : 40px;
			background-color: rgb(255, 255, 255);
			font-size       : 5em;
			line-height     : 1em;
			white-space     : pre-line;
			position        : absolute;
			text-transform  : uppercase;
			z-index         : 5;
			right           : 0px;
		}

			#descanso-1 > h1 > strong {
				display    : block;
				font-family: Bebas;
				font-size  : 1.5em;
				margin-top : 20px;
			}

			#descanso-1 > h1 > img {
				width   : 100px;
				position: absolute;
			}

			#descanso-1 > h1 > img:first-of-type {
				top : 32px;
				left: -75px;
			}

			#descanso-1 > h1 > img:last-of-type {
				transform: rotate(180deg);
				position : absolute;
				right    : 68px;
				bottom   : 0px;
			}

	#galeria {
		width           : 100%;
		padding         : 80px 0px;
		background-color: rgb(255, 255, 255);
		display         : flex;
		align-items     : center;
		justify-content : center;
		flex-direction  : column;
		position        : relative;
	}

	#galeria:before {
		content         : '';
		width           : 75%;
		height          : 65%;
		position        : absolute;
		background-color: rgb(17, 17, 17);
		right           : 0px;
		top             : 160px;
		transform       : skewX(-7.5deg);
		margin-right    : -50px;
	}

		#galeria > h1 {
			width         : 90%;
			margin-bottom : 80px;
			font-size     : 2em;
			font-weight   : 700;
			text-transform: uppercase;
		}

		#galeria > section {
			width          : 90%;
			display        : flex;
			flex-flow      : row wrap;
			justify-content: space-between;
			margin-bottom  : 32px;
		}

			#galeria > section > figure {
				display            : block;
				width              : 33%;
				line-height        : 300px;
				margin-bottom      : 8px;
				position           : relative;
				background-color   : rgb(220, 220, 220);
				background-size    : cover;
				background-repeat  : no-repeat;
				background-position: center;
			}

			#galeria > section > figure:nth-of-type(n+4) {
				margin-bottom: 0px;
			}

				#galeria > section > figure > a {
					width          : 100%;
					height         : 300px;
					position       : relative;
					display        : flex;
					align-items    : center;
					justify-content: center;
					transition     : all 0.3s ease-out;
					color          : rgb(255, 255, 255);
				}

				#galeria > section > figure > a:hover {
					background-color: rgba(239, 200, 48, 0.75);
				}

					#galeria > section > figure > a > i {
						opacity        : 0;
						transition     : all 0.3s ease-out;
						width          : 100px;
						height         : 100px;
						border-radius  : 50%;
						border         : 5px solid rgb(255, 255, 255);
						display        : flex;
						align-items    : center;
						justify-content: center;
						font-size      : 3em;
					}

					#galeria > section > figure > a:hover > i {
						opacity: 1;
					}

		#galeria > a {
			display         : inline-block;
			font-weight     : 700;
			color           : rgb(0, 0, 0);
			background-color: rgb(239, 200, 48);
			font-size       : 1.5em;
			position        : relative;
			padding         : 12px 24px;
			transition      : all 0.3s ease-out;
		}

		#galeria > a:hover {
			color           : rgb(255, 255, 255);
			background-color: rgb(31, 181, 58);
		}

	#descanso-2 {
		width                : 100%;
		height               : 500px;
		background-image     : url('../images/descanso-2/fondo.jpg');
		background-repeat    : no-repeat;
		background-size      : cover;
		background-position  : center;
		background-attachment: fixed;
	}

		#descanso-2 > h1 {
			color      : rgb(255, 255, 255);
			width      : 80%;
			margin     : auto;
			display    : block;
			white-space: pre-line;
			font-family: Bebas;
			font-size  : 5em;
			line-height: 1em;
			position   : relative;
		}

			#descanso-2 > h1 > img {
				width   : 58px;
				position: absolute;
			}

			#descanso-2 > h1 > img:first-of-type {
				margin-left: -72px;
				margin-top : -18px;
			}

			#descanso-2 > h1 > img:last-of-type {
				transform: rotate(180deg);
				left: 184px;
				bottom: 0px;
			}

	#eventos {
		width           : 100%;
		padding         : 80px 0px;
		background-color: rgb(255, 255, 255);
		display         : none;
	}

		#eventos > section {
			width          : 80%;
			margin         : auto;
			display        : flex;
			flex-flow      : row wrap;
			justify-content: space-between;
			align-items    : center;
		}

			#eventos > section > section:first-of-type {
				width        : 30%;
				padding-right: 64px;
			}

				#eventos > section > section:first-of-type > h1 {
					color          : rgb(0, 0, 0);
					text-transform : uppercase;
					margin-bottom  : 32px;
					padding        : 32px;
					position       : relative;
					border-style   : solid none solid solid;
					border-width   : 3px 0px 3px 3px;
					display        : flex;
					align-items    : center;
					justify-content: center;
					flex-direction : column;
				}

					#eventos > section > section:first-of-type > h1 > span {
						font-size  : 1.5em;
						line-height: 1em;
						display    : block;
						width      : 100%;
						font-weight: 700;
						z-index    : 2;
						white-space: pre-line;
					}

						#eventos > section > section:first-of-type > h1 > span > strong {
							font-size  : 1.5em;
							font-weight: 700;
							line-height: .85em;
						}

				#eventos > section > section:first-of-type > p {
					text-align: justify;
				}

				#eventos > section > section:first-of-type > h1:before {
					content         : '';
					width           : 100%;
					height          : 45%;
					background-color: rgb(239, 200, 48);
					position        : absolute;
					transform       : rotate(-5deg) skewX(-5deg);
					z-index         : 1;
				}

			#eventos > section > section:last-of-type {
				width          : 70%;
				display        : flex;
				flex-flow      : row wrap;
				justify-content: space-between;
			}

				#eventos > section > section:last-of-type > article {
					width           : 49.5%;
					padding         : 16px;
					background-color: rgb(250, 250, 250);
					box-shadow      : 0 0 1px rgba(0, 0, 0, 0.20);
				}

					#eventos > section > section:last-of-type > article > header {
						width              : 100%;
						height             : 250px;
						background-color   : rgba(0, 0, 0, 0.35);
						position           : relative;
						background-size    : cover;
						background-position: center;
						background-repeat  : no-repeat;
					}

						#eventos > section > section:last-of-type > article > header > time {
							display         : block;
							position        : absolute;
							bottom          : 0px;
							right           : 0px;
							padding         : 8px;
							font-size       : 0.75em;
							font-weight     : 700;
							color           : rgb(255, 255, 255);
							background-color: rgb(31, 181, 58);
						}

					#eventos > section > section:last-of-type > article > h1 {
						margin        : 16px 0px;
						font-weight   : 700;
						text-transform: uppercase;
						font-size     : 1.5em;
					}

					#eventos > section > section:last-of-type > article > a {
						display         : inline-block;
						padding         : 6px 12px;
						color           : rgb(0, 0, 0);
						background-color: rgb(239, 200, 48);
						font-weight     : 700;
						margin-top      : 16px;
					}

					#eventos > section > section:last-of-type > article > a:hover {
						background-color: rgb(31, 181, 58);
						color           : rgb(255, 255, 255);
					}

	body > footer {
		width              : 100%;
		background-color   : rgb(17, 17, 17);
		background-image   : url('../images/contacto/fondo.jpg');
		background-position: center;
		background-repeat  : no-repeat;
		background-size    : cover;
	}

		body > footer > header {
			width           : 100%;
			padding         : 40px 0px;
			display         : flex;
			align-items     : center;
			justify-content : center;
			background-color: rgb(31, 181, 58);
			position        : relative;
		}

			body > footer > header > h1 {
				font-weight: 700;
				font-size  : 1.75em;
				color      : rgb(0, 0, 0);
			}

				body > footer > header > h1 > a {
					display    : inline-block;
					font-weight: 700;
					font-style : italic;
					color      : rgb(239, 200, 48);
					transition : all 0.3s ease-out;
				}

				body > footer > header > h1 > a:hover {
					color: rgba(0, 0, 0, 0.35);
				}

		body > footer > header:before {
			content     : '';
			width       : 0;
			height      : 0;
			border-left : 50px solid transparent;
			border-right: 50px solid transparent;
			border-top  : 50px solid rgb(31, 181, 58);
			position    : absolute;
			bottom      : -50px;
		}

		body > footer > section {
			width          : 80%;
			padding        : 80px 0px;
			margin         : auto;
			display        : flex;
			flex-flow      : row wrap;
			justify-content: space-between;
			align-items    : center;
		}

			body > footer > section > section:first-of-type {
				width: 33.33%;
			}

				body > footer > section > section:first-of-type > img {
					width: 50%;
				}

			body > footer > section > section:nth-of-type(2) {
				width: 33.33%;
				color: rgb(255, 255, 255);
			}

				body > footer > section > section:nth-of-type(2) > ul {
					list-style: none;
				}

					body > footer > section > section:nth-of-type(2) > ul > li {
						white-space: pre-line;
					}

					body > footer > section > section:nth-of-type(2) > ul > li:first-of-type {
						color      : rgb(31, 181, 58);
						font-weight: 700;
					}

						body > footer > section > section:nth-of-type(2) > ul > li > a {
							display    : inline-block;
							font-weight: 700;
							color      : rgb(255, 255, 255);
							position   : relative;
						}

						body > footer > section > section:nth-of-type(2) > ul > li > a:before {
							content         : '';
							width           : 100%;
							height          : 1px;
							background-color: rgb(255, 255, 255);
							position        : absolute;
							bottom          : 0px;
							left            : 0px;
							transform       : scale(0);
							transition      : all 0.3s ease-out;
						}

						body > footer > section > section:nth-of-type(2) > ul > li > a:hover:before {
							transform: scale(1);
						}

				body > footer > section > section:nth-of-type(2) > ul:last-of-type {
					margin-top: 32px;
				}

			body > footer > section > section:nth-of-type(3) {
				width: 33.33%;
			}

				body > footer > section > section:nth-of-type(3) > h1 {
					color          : rgb(0, 0, 0);
					position       : relative;
					width          : 100%;
					padding        : 12px 0px;
					display        : flex;
					align-items    : center;
					justify-content: center;
					margin-bottom  : 32px;
				}

					body > footer > section > section:nth-of-type(3) > h1 > strong {
						z-index       : 5;
						position      : relative;
						font-weight   : 700;
						font-size     : 1.75em;
						text-transform: uppercase;
					}

				body > footer > section > section:nth-of-type(3) > h1:before {
					content         : '';
					width           : 75%;
					height          : 100%;
					position        : absolute;
					background-color: rgb(239, 200, 48);
					z-index         : 1;
					transform       : rotate(-3deg) skewX(-3deg);
				}

				body > footer > section > section:nth-of-type(3) > form {
					width: 100%;
				}

					body > footer > section > section:nth-of-type(3) > form > input {
						width           : 100%;
						background-color: transparent;
						border          : none;
						border-bottom   : 1px solid rgb(255, 255, 255);
						padding         : 6px 0px;
						color           : rgb(255, 255, 255);
						margin-bottom   : 16px;
					}

					body > footer > section > section:nth-of-type(3) > form > input::placeholder {
						color: rgb(255, 255, 255);
					}

					body > footer > section > section:nth-of-type(3) > form > textarea {
						width           : 100%;
						background-color: transparent;
						border          : none;
						border-bottom   : 1px solid rgb(255, 255, 255);
						padding         : 6px 0px;
						color           : rgb(255, 255, 255);
						margin-bottom   : 16px;
					}

					body > footer > section > section:nth-of-type(3) > form > textarea::placeholder {
						color: rgb(255, 255, 255);
					}

					body > footer > section > section:nth-of-type(3) > form > button {
						cursor          : pointer;
						width           : 100%;
						padding         : 6px;
						color           : rgb(255, 255, 255);
						text-align      : center;
						background-color: rgb(31, 181, 58);
						border          : none;
						font-weight     : 700;
						transition      : all 0.3s ease-out;
					}

					body > footer > section > section:nth-of-type(3) > form > button:hover {
						background-color: rgb(239, 200, 48);
						color           : rgb(0, 0, 0);
					}

		body > footer > footer {
			width          : 100%;
			padding        : 12px;
			text-align     : center;
			color          : rgb(255, 255, 255);
			border-top     : 1px solid rgb(255, 255, 255);
			display        : flex;
			align-items    : center;
			justify-content: center;
		}

			body > footer > footer > strong {
				font-weight: 700;
				margin-left: 6px;
			}

			body > footer > footer > a {
				display   : inline-block;
				color     : rgb(255, 255, 255);
				transition: all 0.3s ease-out;
			}

			body > footer > footer > a:hover {
				color: rgb(234, 0, 0);
			}

				body > footer > footer > a > span {
					display    : block;
					font-size  : 0.8em;
					margin-left: 6px;
				}

.modal {
	width           : 100%;
	height          : 100vh;
	position        : fixed;
	display         : flex;
	align-items     : center;
	justify-content : center;
	top             : 0px;
	left            : 0px;
	background-color: rgba(0, 0, 0, 0.85);
	z-index         : 150;
}

	.modal > a {
		position : absolute;
		top      : 32px;
		right    : 40px;
		color    : rgb(255, 255, 255);
		font-size: 1.5em;
	}

	.modal > div {
		width: 75%;
	}

		.modal > div > img {
			width     : 100%;
			box-shadow: 0 0 3px rgb(0, 0, 0);
		}

@media screen and (max-width: 1707px) {
	#galeria {
		overflow-x: hidden;
	}
}

@media all and (orientation: landscape) and (max-width: 1030px) {
	body > button {
		display: block;
	}

	body > nav {
		height          : 100vh;
		background-color: rgb(0, 0, 0);
		margin-top      : -100vh;
	}

		body > nav > div {
			width          : 100%;
			height         : 100%;
			display        : flex;
			flex-flow      : row nowrap;
			justify-content: center;
			flex-direction : column;
		}

			body > nav > div > img {
				margin-top   : 0px;
				margin-bottom: 32px;
			}

			body > nav > div > ul {
				list-style: none;
				text-align: center;
			}

				body > nav > div > ul > li {
					display      : block;
					margin-right : 0px;
					margin-bottom: 12px;
				}

				body > nav > div > ul > li:last-of-type {
					margin-bottom: 0px;
				}

				body > nav > div > ul > li:nth-of-type(4) {
					border-right : none;
					padding-right: 0px;
				}

				body > nav > div > ul > li:nth-of-type(5) {
					margin-right: 0px;
				}

		#nosotros > section {
			width: 90%;
		}

				#nosotros > section > section > section {
					width: 50%;
				}

					#nosotros > section > section > section > p:first-of-type {
						text-align   : justify;
						margin-bottom: 24px;
					}

					#nosotros > section > section > section > figure {
						display        : block;
						width          : 100%;
						display        : flex;
						align-items    : center;
						justify-content: center;
					}

					#nosotros > section > section > section > figure:first-of-type {
						margin-bottom: 24px;
					}

						#nosotros > section > section > section > figure > div:first-of-type {
							width: 15%;
						}

							#nosotros > section > section > section > figure > div:first-of-type > i {
								width           : 80px;
								height          : 80px;
								border-radius   : 50%;
								background-color: rgb(239, 200, 48);
								color           : rgb(0, 0, 0);
								display         : flex;
								align-items     : center;
								justify-content : center;
								font-size       : 2em;
							}

						#nosotros > section > section > section > figure > div:last-of-type {
							width: 85%;
						}

							#nosotros > section > section > section > figure > div:last-of-type > figcaption {
								font-weight: 700;
							}

				#nosotros > section > section > section:last-of-type {
					padding-left   : 32px;
					display        : flex;
					align-items    : center;
					justify-content: center;
				}

					#nosotros > section > section > section:last-of-type > img {
						width : 90%;
						height: auto;
						margin: auto;
					}

	#descanso-1:before {
		width: 100%;
	}

	#galeria:before {
		display: none;
	}

			#galeria > section > figure {
				width: 49.5%;
				margin-bottom: 12px;
			}

			#galeria > section > figure:nth-of-type(n+4) {
				margin-bottom: 12px;
			}

		#eventos > section {
			width          : 90%;
			margin         : auto;
			display        : flex;
			flex-flow      : row wrap;
			justify-content: space-between;
			align-items    : center;
		}

			#eventos > section > section:first-of-type {
				width        : 100%;
				padding-right: 0px;
			}

			#eventos > section > section:last-of-type {
				width: 100%;
			}

		body > footer > section {
			width: 90%;
		}
}

@media all and (orientation: portrait) and (max-width: 770px) {
	body > button {
		display: block;
	}

	body > nav {
		height          : 100vh;
		background-color: rgb(0, 0, 0);
		margin-top      : -100vh;
	}

		body > nav > div {
			width          : 100%;
			height         : 100%;
			display        : flex;
			flex-flow      : row nowrap;
			justify-content: center;
			flex-direction : column;
		}

			body > nav > div > img {
				margin-top   : 0px;
				margin-bottom: 32px;
			}

			body > nav > div > ul {
				list-style: none;
				text-align: center;
			}

				body > nav > div > ul > li {
					display      : block;
					margin-right : 0px;
					margin-bottom: 12px;
				}

				body > nav > div > ul > li:last-of-type {
					margin-bottom: 0px;
				}

				body > nav > div > ul > li:nth-of-type(4) {
					border-right : none;
					padding-right: 0px;
				}

				body > nav > div > ul > li:nth-of-type(5) {
					margin-right: 0px;
				}

		body > header > img {
			width: 65%;
		}

		#nosotros:before {
			display: none;
		}

		#nosotros > section {
			width: 90%;
		}

				#nosotros > section > section > section {
					width        : 100%;
					margin-bottom: 32px;
				}

					#nosotros > section > section > section > p:first-of-type {
						text-align   : justify;
						margin-bottom: 24px;
					}

						#nosotros > section > section > section > figure > div:last-of-type {
							width: 100%;
						}

							#nosotros > section > section > section > figure > div:last-of-type > figcaption {
								font-weight: 700;
							}

				#nosotros > section > section > section:last-of-type {
					padding-left: 0px;
				}

					#nosotros > section > section > section:last-of-type > img {
						width : 100%;
						height: auto;
					}

	#descanso-1:before {
		width: 100%;
	}

	#galeria:before {
		display: none;
	}

			#galeria > section > figure {
				width        : 100%;
				line-height  : 350px;
				margin-bottom: 12px;
			}

			#galeria > section > figure:nth-of-type(n+4) {
				margin-bottom: 12px;
			}

			#galeria > section > figure:last-of-type {
				margin-bottom: 0px;
			}

	#descanso-2 {
		display        : flex;
		align-items    : center;
		justify-content: center;
	}

		#descanso-2 > h1 {
			text-align: center;
		}

			#descanso-2 > h1 > img {
				display: none;
			}

		#eventos > section {
			width          : 90%;
			margin         : auto;
			display        : flex;
			flex-flow      : row nowrap;
			justify-content: center;
			align-items    : center;
			flex-direction : column;
		}

			#eventos > section > section:first-of-type {
				width        : 100%;
				padding-right: 0px;
				margin-bottom: 32px;
			}

			#eventos > section > section:last-of-type {
				width          : 100%;
				display        : flex;
				flex-flow      : row wrap;
				justify-content: space-between;
			}

				#eventos > section > section:last-of-type > article {
					width        : 100%;
					margin-bottom: 12px;
				}

				#eventos > section > section:last-of-type > article:last-of-type {
					margin-bottom: 0px;
				}

		body > footer > header {
			padding: 40px;
		}

			body > footer > header > h1 {
				text-align: center;
			}

		body > footer > section {
			width: 90%;
		}

			body > footer > section > section:first-of-type {
				width: 100%;
			}

				body > footer > section > section:first-of-type > img {
					width : 25%;
					margin: auto;
				}

			body > footer > section > section:nth-of-type(2) {
				width     : 100%;
				text-align: center;
				margin    : 64px 0px;
			}

	.modal {
		background-color: rgba(0, 0, 0, 0.95);
	}

		.modal > div {
			width: 100%;
		}
}

@media all and (orientation: landscape) and (max-width: 740px) {
	#nosotros > section > section {
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

		#nosotros > section > section > section {
			width        : 100%;
			margin-bottom: 32px;
		}

	#galeria > section > figure {
		width: 100%;
	}

	#eventos > section > section:first-of-type > p {
		margin-bottom: 24px;
	}

		#eventos > section > section:last-of-type > article {
			width        : 100%;
			margin-bottom: 12px;
		}

	body > footer > header > h1 {
		padding   : 32px;
		text-align: center;
	}

	body > footer > section > section {
		width: 100% !important;
	}

		body > footer > section > section:first-of-type > img {
			margin: auto;
		}

	body > footer > section > section:nth-of-type(2) {
		text-align: center;
		margin    : 32px 0px;
	}
}

@media all and (orientation: portrait) and (max-width: 420px) {
	body > button {
		display: block;
	}

	body > nav {
		height          : 100vh;
		background-color: rgb(0, 0, 0);
		margin-top      : -100vh;
	}

		body > nav > div {
			width          : 100%;
			height         : 100%;
			display        : flex;
			flex-flow      : row nowrap;
			justify-content: center;
			flex-direction : column;
		}

			body > nav > div > img {
				margin-top   : 0px;
				margin-bottom: 32px;
			}

			body > nav > div > ul {
				list-style: none;
				text-align: center;
			}

				body > nav > div > ul > li {
					display      : block;
					margin-right : 0px;
					margin-bottom: 12px;
				}

				body > nav > div > ul > li:last-of-type {
					margin-bottom: 0px;
				}

				body > nav > div > ul > li:nth-of-type(4) {
					border-right : none;
					padding-right: 0px;
				}

				body > nav > div > ul > li:nth-of-type(5) {
					margin-right: 0px;
				}

		body > header > img {
			width: 50%;
		}

		.carousel-control {
			font-size: 1.5em !important;
		}

		#nosotros > section {
			width : 90%;
			margin: auto;
		}

			#nosotros > section > h1 {
				font-size: 1.25em;
			}

				#nosotros > section > section > section {
					width: 100%;
				}

						#nosotros > section > section > section > figure > div:first-of-type {
							width: 25%;
						}

							#nosotros > section > section > section > figure > div:first-of-type > i {
								width           : 80px;
								height          : 80px;
								border-radius   : 50%;
								background-color: rgb(239, 200, 48);
								color           : rgb(0, 0, 0);
								display         : flex;
								align-items     : center;
								justify-content : center;
								font-size       : 2em;
							}

						#nosotros > section > section > section > figure > div:last-of-type {
							width: 75%;
						}

							#nosotros > section > section > section > figure > div:last-of-type > figcaption {
								font-weight: 700;
							}

				#nosotros > section > section > section:last-of-type {
					padding-left   : 32px;
					display        : flex;
					align-items    : center;
					justify-content: center;
				}

					#nosotros > section > section > section:last-of-type > img {
						width: 100%;
						height: auto;
					}

	#descanso-1 {
		height : auto;
		padding: 40px 0px;
	}

	#descanso-1:before {
		display: none;
	}

		#descanso-1 > h1 {
			text-align: center;
			width     : 100%;
			position  : static;
		}

			#descanso-1 > h1 > strong {
				display    : block;
				font-family: Bebas;
				font-size  : 1.5em;
				margin-top : 20px;
			}

			#descanso-1 > h1 > img {
				width   : 100px;
				position: absolute;
				display : none;
			}

			#descanso-1 > h1 > img:first-of-type {
				top : 32px;
				left: -75px;
			}

			#descanso-1 > h1 > img:last-of-type {
				transform: rotate(180deg);
				position : absolute;
				right    : 68px;
				bottom   : 0px;
			}

	#galeria {
		width           : 100%;
		padding         : 80px 0px;
		background-color: rgb(255, 255, 255);
		display         : flex;
		align-items     : center;
		justify-content : center;
		flex-direction  : column;
		position        : relative;
	}

	#galeria:before {
		display: none;
	}

		#galeria > h1 {
			margin-bottom: 20px;
		}

			#galeria > section > figure {
				width: 100%;
			}

			#galeria > section > figure:nth-of-type(n+4) {
				margin-bottom: 8px;
			}

		#descanso-2 > h1 {
			font-size: 4em;
		}

			#descanso-2 > h1 > img {
				display: none;
			}

		#eventos > section {
			width: 90%;
		}

			#eventos > section > section:first-of-type {
				width        : 100%;
				padding-right: 0px;
				margin-bottom: 32px;
			}

			#eventos > section > section:last-of-type {
				width: 100%;
			}

				#eventos > section > section:last-of-type > article {
					width        : 100%;
					margin-bottom: 16px;
				}

				#eventos > section > section:last-of-type > article:last-of-type {
					margin-bottom: 0px;
				}

			body > footer > header > h1 {
				text-align: center;
			}

		body > footer > section {
			width: 90%;
		}

			body > footer > section > section:first-of-type {
				width: 100%;
			}

				body > footer > section > section:first-of-type > img {
					width : 50%;
					margin: auto;
				}

			body > footer > section > section:nth-of-type(2) {
				width     : 100%;
				text-align: center;
				margin    : 32px 0px;
			}

			body > footer > section > section:nth-of-type(3) {
				width: 100%;
			}
}